<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Candidate Managment System</title>


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="/css/main.min.css">
        <link rel="stylesheet" type="text/css" href="/css/custom.css">
        <script src="/js/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
        {{!--
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script> --}}
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <script src="/js/calander.min.js" type="text/javascript"></script>

        <!-- Icons. Uncomment required icon fonts -->
        <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

        <!-- Core CSS -->
        <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
        <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />


        <!-- Helpers -->
        <script src="/assets/vendor/js/helpers.js"></script>

    </head>

    <body class="text-basetext">
        {{#if loginPage}}
        {{!-- <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {{#each logineduser}}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5  ">
                        <li class="nav-item">
                            <a class="nav-link text-basetext active" aria-current="page" href="/{{this.role}}/userlist">
                                <i class="bi bi-people"></i>
                                People
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-basetext" aria-current="page" href="/{{this.role}}/templatelist">
                                <i class="bi bi-hdd-stack p-2"></i>
                                Template
                            </a>
                        </li>
                    </ul>
                    <span class="row w-25 align-right nav-item dropdown">
                        <span class="col w-12 p-2 d-flex align-items-center justify-content-center">
                            <i class="bi bi-bell"></i>
                        </span>
                        <div
                            class="profiletext bg-secondary bg-opacity-25 rounded  text-secondary fs-6 d-flex align-items-center justify-content-center fw-semibold">
                            <span>RR</span>
                        </div>
                        <span class="col-8" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>
                                <span class="d-block fs-6">{{this.first_name}} {{this.last_name}}</span>
                                <span class="d-block text-capitalize fs-7">{{this.role}}</span>
                            </span>
                        </span>
                        <div class="dropdown-menu w-25 mt-2">
                            <a class="dropdown-item text-basetext" href="/logout">Logout</a>
                        </div>
                        {{/each}}
                    </span>
                </div>
            </div>
        </nav>--}}
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <!-- Menu -->

                <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                    <div class="app-brand demo">
                        <a href="index.html" class="app-brand-link">
                            <span class="app-brand-logo demo">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="30.000000pt" height="30.000000pt"
                                    viewBox="0 0 72.000000 72.000000" preserveAspectRatio="xMidYMid meet">
                                
                                    <g transform="translate(0.000000,72.000000) scale(0.100000,-0.100000)" fill="#0071dc" stroke="none">
                                        <path
                                            d="M142 544 c3 -25 21 -39 166 -120 162 -92 162 -92 162 -65 0 26 -13 36 -157 117 -86 49 -161 91 -166 93 -5 2 -7 -10 -5 -25z" />
                                        <path
                                            d="M491 525 l-75 -44 28 -12 c23 -11 32 -10 57 5 l29 17 0 -175 0 -176 25 0 25 0 0 215 c0 118 -3 215 -7 214 -5 0 -41 -20 -82 -44z" />
                                        <path
                                            d="M32 329 c3 -182 3 -184 25 -187 23 -3 23 -3 23 137 0 100 3 141 11 141 7 0 43 -18 81 -40 73 -42 96 -48 116 -28 9 9 -17 28 -109 80 -67 38 -128 72 -135 75 -12 4 -14 -24 -12 -178z" />
                                        <path d="M658 499 c-16 -9 -18 -29 -18 -184 l0 -175 25 0 25 0 0 185 c0 102 -3 185 -7 185 -5 0 -16 -5 -25 -11z" />
                                        <path d="M140 235 c0 -95 0 -95 25 -95 25 0 25 1 25 83 0 80 -1 84 -25 95 l-25 12 0 -95z" />
                                    </g>
                                </svg>
                            </span>
                            <span class="app-brand-text demo menu-text fw-bolder ms-2">Mentor Merlin</span>
                        </a>
                
                        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                            <i class="bx bx-chevron-left bx-sm align-middle"></i>
                        </a>
                    </div>
                
                    <div class="menu-inner-shadow"></div>
                {{#each logineduser}}
                    <ul class="menu-inner py-1">
                        <!-- Dashboard -->
                        <li class="menu-item active">
                            <a href="/admin" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                <div data-i18n="Analytics">Dashboard</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/{{this.role}}/userlist" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                                <div data-i18n="Analytics">Users</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/{{this.role}}/templatelist" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-edit"></i>
                                <div data-i18n="Analytics">Skills</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-time-five"></i>
                                <div data-i18n="Analytics">Timeline</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html" class="menu-link">
                                <i class="menu-icon tf-icons bx bxs-calendar"></i>
                                <div data-i18n="Analytics">Calender</div>
                            </a>
                        </li>
                
                        <!-- Layouts -->
                        {{!-- <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-layout"></i>
                                <div data-i18n="Layouts">Layouts</div>
                            </a>
                
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a href="layouts-without-menu.html" class="menu-link">
                                        <div data-i18n="Without menu">Without menu</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="layouts-without-navbar.html" class="menu-link">
                                        <div data-i18n="Without navbar">Without navbar</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="layouts-container.html" class="menu-link">
                                        <div data-i18n="Container">Container</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="layouts-fluid.html" class="menu-link">
                                        <div data-i18n="Fluid">Fluid</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="layouts-blank.html" class="menu-link">
                                        <div data-i18n="Blank">Blank</div>
                                    </a>
                                </li>
                            </ul>
                        </li> --}}
                
                        {{!-- <li class="menu-header small text-uppercase">
                            <span class="menu-header-text">Pages</span>
                        </li> --}}
                </aside>
                <!-- Layout container -->
                <div class="layout-page">
                    <!-- Navbar -->
                
                    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                        id="layout-navbar">
                        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu bx-sm"></i>
                            </a>
                        </div>
                    
                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <!-- Search -->
                            <div class="navbar-nav align-items-center">
                                <div class="nav-item d-flex align-items-center">
                                    <i class="bx bx-search fs-4 lh-0"></i>
                                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                                        aria-label="Search..." />
                                </div>
                            </div>
                            <!-- /Search -->
                            <ul class="navbar-nav flex-row align-items-center ms-auto">
                                <!-- Place this tag where you want the button to render. -->
                                {{!-- <li class="nav-item lh-1 me-3">
                                    <a class="github-button" href="https://github.com/themeselection/sneat-html-admin-template-free"
                                        data-icon="octicon-star" data-size="large" data-show-count="true"
                                        aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
                                </li> --}}
                    
                                <!-- User -->
                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    {{!-- <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="avatar">
                                            <img src="https://www.w3schools.com/howto/img_avatar.png"
                                                class="w-px-40 h-auto rounded-circle" />
                                        </div>
                                    </a> --}}
                                    <a class="nav-link dropdown-toggle hide-arrow" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt
                                                        class="w-px-40 h-auto rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block">{{this.first_name}} {{this.last_name}}</span>
                                                <small class="text-muted text-capitalize">{{this.role}}</small>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        {{!-- <li>
                                            <div class="dropdown-divider"></div>
                                        </li> --}}
                                        <li>
                                            <a class="dropdown-item" href="/logout">
                                                <i class="bx bx-power-off me-2"></i>
                                                <span class="align-middle">Log Out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--/ User -->
                            </ul>
                        </div>
                    </nav>
                    {{/each}}
                {{/if}}

                <div class="container pt-5 pb-5">
                    {{{body}}}
                </div>
                <script>
                    var bootstrap_enabled = (typeof $().modal == 'function');
                    console.log(bootstrap_enabled + ' ' + $().jquery);
                </script>



                 <script src="/assets/vendor/js/menu.js"></script>
                <!-- endbuild -->

                <!-- Main JS -->
                <script src="/assets/js/main.js"></script>
                {{!--
                <script src="/js/jquery.min.js"></script>

                <script src="/js/bootstrap.min.js"></script> --}}
                {{!--
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
                --}}
    </body>

    </html>