
{{#each main}}
<h3>{{this.template}}</h3>
{{/each}}
{{#if alert}}
<div class="alert alert-{{alertcolor}} alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<div class="row card">
    {{#each list}}
    <div class="card-body">
        <div class="col-md-4 col-sm-12 fw-semibold text-headtext">{{this.list_items}}</div>
        <div class="col-md-8 col-sm-12 fw-semibold ">{{this.description}}</div>
    </div>
    {{/each}}
</div>