
{{#each main}}
<h3>{{this.template}}</h3>
{{#setVar 'skillSetID' this.id}}{{/setVar}}
{{/each}}

{{#if alert}}
<div class="alert alert-{{alertcolor}} alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<div class="row card">

    <form action="/admin/skillaction/{{skillSetID}}/{{userid}}" method="post">
        {{#each list}}
        <div class="card-body p-2">
            <ul>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="{{this.id}}" aria-label="..." name="list">
                    <span class="col-md-4 col-sm-12 fw-semibold text-headtext">{{this.list_items}}</span>
                    <div class="col-md-8 col-sm-12 fw-semibold ms-4">{{this.description}}</div>
                </li>
            </ul>
        </div>
        {{/each}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>