<div class="d-flex m-2">
    <h1 class="col-3">Users</h1>
    <span class="col-9  d-flex justify-content-end">
        <a href="/admin/adduser" type="button" class="btn btn-primary p-2 d-flex align-items-center">Add User</a>
    </span>

</div>
{{#if alert}}
<div class="alert alert-{{alertcolor}} alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<table class="table border rounded text-basetext">
    <thead class="bg-secondary bg-opacity-25 fs-8 fw-light">
        <tr>
            <th scope="col">NAME</th>
            <th scope="col">ASSIGNED</th>
            <th scope="col">ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        {{#each usersRow}}
        <tr>
            <td class="col align-left p-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="profiletext bg-secondary bg-opacity-25 rounded my-auto m-2 d-flex align-items-center justify-content-center">
                        <span>RR</span>
                    </div>
                    <div style="display:flex;flex-direction:column;justify-content: space-around;align-items: left;">
                        <div class="d-block fs-6">{{this.first_name}}</div>
                        <div class="d-block fs-7">{{this.email}}</div>
                    </div>
                </div>
            </td>
            <td class="col align-left p-3">
                <div class="d-flex flex-row align-items-center">Template</div>
            </td>
            <td class="col align-left p-3">
                <div class="d-flex align-items-center ">
                    <a type="button" href="/admin/viewuser/{{this.id}}" class="btn btn-outline-secondary border border-opacity-50 mx-2 fw-semibold">View</a>
                    <a type="button" href="/admin/updateuser/{{this.id}}" class="btn btn-outline-secondary border border-opacity-50 mx-2 fw-semibold">Update</a>
                    <a type="button" class="deleteuser btn btn-outline-secondary border border-opacity-50 mx-2 fw-semibold" data-bs-toggle="modal" data-id="{{this.id}}" data-bs-target="#deleteusermodel">Delete</a>
                </div>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteusermodel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Remove User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete the selected user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary deleteconfirm">Yes</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on("click", ".deleteuser", function () {
     var userID = $(this).data('id');
     $(".deleteconfirm").attr("href", '/admin/deleteuser/'+userID );
});
</script>